@tailwind base;
@tailwind components;
@tailwind utilities;

*::-webkit-scrollbar {
  width: 0.5rem;
  height: 0.5rem;
}

*::-webkit-scrollbar-track {
  background-color: rgba(0, 0, 0, 0.1);
}

*::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.125);
}

*::-webkit-scrollbar-thumb:hover {
  background-color: rgba(255, 255, 255, 0.15);
}

.show-next-when-empty:empty {
  display: none;
}

.show-next-when-empty:not(:empty) + * {
  display: none;
}

.show-next-when-empty:empty + * {
  display: flex;
}

html,
body {
  overflow: hidden;
  height: 100%;
}
